@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #060606;
  color: #fff;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: 50px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: oklab(76.371% 0.05672 0.13378);
}

.box-radius {
  border-radius: 50%;
}
